# package directories
jspm_packages
node_modules/
tmp/
dist
.vscode/
vscode/

.DS_Store

# Serverless directories
.serverless

/config/config.local.json
/config/config.dev.json
/config/config.qa.json
/config/config.prod.json

